@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono");

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'JetBrains Mono';
  src: url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff2/JetBrainsMono-Bold-Italic.woff2') format('woff2'),
    url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff/JetBrainsMono-Bold-Italic.woff') format('woff');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff2/JetBrainsMono-Bold.woff2') format('woff2'),
    url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff/JetBrainsMono-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff2/JetBrainsMono-ExtraBold-Italic.woff2') format('woff2'),
    url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff/JetBrainsMono-ExtraBold-Italic.woff') format('woff');
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff2/JetBrainsMono-ExtraBold.woff2') format('woff2'),
    url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff/JetBrainsMono-ExtraBold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff2/JetBrainsMono-Italic.woff2') format('woff2'),
    url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff/JetBrainsMono-Italic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff2/JetBrainsMono-Medium-Italic.woff2') format('woff2'),
    url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff/JetBrainsMono-Medium-Italic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff2/JetBrainsMono-Medium.woff2') format('woff2'),
    url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff/JetBrainsMono-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff2/JetBrainsMono-Regular.woff2') format('woff2'),
    url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff/JetBrainsMono-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

:root {
  /* Preset colors */
  --background-color: #ffffff;
  --foreground-color: #050505;
  --link-color: #056fec;
  --link-visited-color: #8228f4;

  --bgcolor-level1: rgba(0, 0, 0, 0.1);
  --fgcolor-level1: rgb(60, 49, 94);

  --code-bg: #f9f9f9;
  --spacing: 64px;

  font-size: 18px;
  font-family: var(--font1);
  font-weight: 450;
  line-height: 1.4;
  letter-spacing: 0.005em;
}
@supports (color: color(display-p3 1 1 1)) {
  :root {
    --background-color: color(display-p3 1 1 1);
    --foreground-color: color(display-p3 0.02 0.02 0.02);
    --link-color: color(display-p3 0.188 0.429 0.894);
    --link-visited-color: color(display-p3 0.47 0.183 0.921);

    --bgcolor-level1: color(display-p3 0 0 0 / 0.1);
    --fgcolor-level1: color(display-p3 0.228 0.194 0.357);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #222222;
    --foreground-color: #ddd;
    --link-color: #70cafc;
    --link-visited-color: #b79eff;

    --bgcolor-level1: rgba(0, 0, 0, 0.3);

    --code-bg: #474747;

    font-weight: 400;
    letter-spacing: 0.01em;
  }

  @supports (color: color(display-p3 1 1 1)) {
    :root {
      --background-color: color(display-p3 0.133 0.133 0.133);
      --foreground-color: color(display-p3 0.867 0.867 0.867);
      --link-color: color(display-p3 0.525 0.784 0.969);
      --link-visited-color: color(display-p3 0.702 0.623 0.975);

      --bgcolor-level1: color(display-p3 0 0 0 / 0.3);
    }
  }
}

:root {
  --font1: "InterDisplay";
}
@supports (font-variation-settings: normal) {
  :root {
    --font1: "InterDisplay var";
  }
}

body {
  background-color: var(--background-color);
  color: var(--foreground-color);
  padding: var(--spacing);
  display: flex;
  flex-direction: column;
}

/* for viewports 700px and below */
@media only screen and (max-width: 700px) {
  :root {
    font-size: 16px;
    --spacing: 32px;
  }
  body {
    flex-direction: column;
  }
  #title svg {
    zoom: 1.25;
    margin-top: 64px;
  }
  #main {
    margin-top: 32px;
  }
  .quicklinks,
  .sm {
    width: 100%;
  }
}


/* for viewports 400px and below */

@media only screen and (max-width: 400px) {
  :root {
    font-size: 12px;
    --spacing: 16px;
  }
  
}
