* {
  -webkit-font-smoothing: antialiased;
  font-smooth: always;
}

a[href] .link {
  color: var(--link-color);
  text-decoration: none;
}
a[href]:visited .link {
  color: var(--link-visited-color);
}
a[href]:hover .link {
  text-decoration: underline;
}

a[href] .link #block {
  background-color: gray;
  color: var(--foreground-color);
}

/* quick links href */

.quicklinks {
  font-size: inherit;
  font-weight: 550;
  width: 180px;
  padding: 1rem 0.75rem;
  background-color: #d9d9d940;
  margin-top: 2rem;
  border-radius: 2px;
  cursor: pointer;
  padding-top: 1.25rem;
  display: inline-block;
  position: relative;
  transition: 500ms;
  z-index: 1;
  margin-right: 1rem;
}

.sm {
  width: 170px;
}

.quicklinks span {
  position: relative;
  left: 20px;
  transition: 500ms;
}

.quicklinks:before {
  content: url("/public/circleblack.svg");
  position: relative;
  opacity: 1;
  vertical-align: middle;
  display: inline-block;
  text-align: middle;
  right: -5px;
  transition: 500ms;
  z-index: 2;
}

.quicklinks:after {
  content: "→";
  font-weight: 700;
  position: absolute;
  opacity: 0;
  right: -10px;
  padding-right: 10px;
  transition: 500ms;
  z-index: 2;
}

quicklinks:hover {
  padding-right: 2px;
  padding-left: 2px;
  transition: 500ms;
}

.quicklinks:hover span {
  position: relative;
  left: -10px;
  transition: 500ms;
}

.quicklinks:hover:after {
  opacity: 1;
  right: 10px;
  transition: 500ms;
}

.quicklinks:hover:before {
  opacity: 0;
  right: 10px;
  transition: 500ms;
}

/* text styles */

h1,
h2,
h3,
h4 {
  font-family: inherit;
  font-size: inherit;
  font-weight: 600;
}

h1 {
  font-size: 2.1rem;
  letter-spacing: -0.05em;
}

h2 {
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: -0.01em;
}

p {
  word-spacing: -0.03em;
}

code,
pre {
  font-family: "JetBrains Mono", monospace;
  font-size: 70%;
  word-spacing: -0.05em;
  margin: 2em 0;
  padding: 0 0.1em;
  font-weight: 550;
  white-space: pre-wrap;
  line-height: 1.5rem;
  border-radius: 2px;
  background-color: var(--code-bg);
  padding: 2em;
}

ul.minimal {
  list-style: none;
  padding: 0;
}

ul.minimal > li {
  padding-bottom: 0.6rem;
}

hr {
  height: 1.5px;
  border: none;
  background: var(--foreground-color);
  margin: 2rem 0;
}

#title {
  pointer-events: none;
  user-select: none;
  letter-spacing: -0.02em;
  margin: 4rem 0;
}

img {
  max-width: 100%;
  display: block;
  object-position: center center;
  object-fit: contain;
}

img.calc {
  margin: 0 0 2rem -34px;
  max-width: 115%;
}

svg {
  display: block;
}
svg.glyph path,
svg.glyph rect,
svg.glyph circle {
  fill: var(--foreground-color);
}

#title svg {
  margin: 10px 0 10px 0;
}

footer {
  display: flex;
}
footer > a {
  font-weight: 500;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
}
footer > a:hover {
  text-decoration: underline;
}
footer > a > * {
  margin-right: 0.25rem;
  flex: 1 0;
}

/* smol screen/window */
@media only screen and (max-width: 700px) {
  :root {
    font-size: 16px;
  }
  body {
    padding: 32px;
    flex-direction: column;
  }
  #title svg {
    zoom: 1.25;
    margin-top: 48px;
  }
  #main {
    margin-top: 32px;
  }
  .quicklinks,
  .sm {
    width: 100%;
  }
}
